$body-color: slateblue;

body {
  color: black;
  font-family: sans-serif;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.productWrapper {
	margin-bottom: 30px;
	.card_desc {
		margin-bottom: 20px;
		font-size: 16px;
	}
	.card_img {
		margin-bottom: 20px;
	}
}

body.admin {
	.add_product_wrapper {
		display: flex;
		input,select, .new_prod_id {
			height: 40px;
			padding: 0 15px;
			background-color: #f5f5f5;
			margin-right: 20px;
			outline: none;
			border: 1px solid #bdbdbd;
		}
		.new_prod_id {
			background-color: #bdbdbd;
			display: flex;
			align-items: center;
			cursor: not-allowed;
		}
	}
	.add_product_btn {
		margin-left: auto;
		margin-bottom: 30px;
		display: table;
		order: 1;
	}
	.productWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #f5f5f5;
		margin-bottom: 0;
		padding: 15px 20px;		
		&:nth-child(2n+1) {
			background-color: #bdbdbd;			
		}
		&:first-child {
			background-color: #d9edf7;
		}
		.delete {
			cursor: pointer;
		}
		.card_avalible {
			width: 100px;
		}
		.card_desc {
			width: 200px;
			margin-bottom: 0;
		}
		.card_img {
			width: 100px;
			margin-bottom: 0;
		}
		.card_event {
			width: 66px;
		}
		.filter_available_wrapp {
			margin-left: auto;
			margin-right: 95px;
			.btn {
				display: table;
				margin: 0 auto;
				&:first-child {
					margin-bottom: 10px;
				}
			}
		}
		.card_price {
			width: 60px;
			input {
				width: 60px;
			}
		}
		.edit_delete {
			.btn-info {
				margin-bottom: 10px;
			}
			div {
				display: block;
			}
		}
		.filter_price {
			margin-right: 180px;
		}
	}
}